<<<<<<< Updated upstream
<div class='search-items'>
  <h1>
    検索結果
  </h1>
  <div class='search-items-main'>
  <% if @items.length !=0 %>
    <% @items.each do |item| %>
=======
<div class="item-lists">
<h1>
  検索結果
</h1>
<% if @items.length !=0 %>
  <% @items.each do |item| %>
    <ul>
>>>>>>> Stashed changes
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>

          <% if item.order.present? %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.shipping_charge.name  %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
<<<<<<< Updated upstream
      <% end %>
    </div>
  <% else %>
    該当する商品はありません
  <% end %>
  <br>
</div>

<%=link_to 'もどる', root_path, class:"search-back-btn" %>
=======
    </ul>
  <% end %>
<% else %>
  該当する商品はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>
</div>
>>>>>>> Stashed changes
